.profile-links {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 12px;
}

.hover-icon {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  .hidden-value {
    background-color: red;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    transition: width 0.5s ease;
  }

  &:hover .hidden-value {
    margin-left: 25px;
    width: fit-content;
    z-index: 5;
    visibility: visible;
  }
}
