.profile-links {
  display: grid;
  grid-template-columns: repeat(4, min-content);
  column-gap: 12px;
}

.profile-location {
}

.hover-container.left {
  display: flex;
  flex-direction: row;

  .hidden-value {
    width: 0%;
    display: inline-block;
    transition: width 0.5s ease-in;

    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    z-index: 2;

    margin-left: 25px;
    background-color: white;
  }

  .hover-icon:hover + .hidden-value {
    width: 100%;
  }
}

.hover-container.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .hover-icon {
    width: 20px;
    text-align: left;
  }

  .hidden-value {
    overflow: hidden;
    white-space: nowrap;

    z-index: 2;

    flex-basis: 0;
    transition: flex-basis 0.6s ease-in;
  }

  .hover-icon:hover + .hidden-value  {
    flex-basis: 108px;
  }
}
